---
import { Image } from 'astro:assets';

import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';

import { getBlogCollection } from '@/lib/blog';
import FormattedDate from '@/components/formatted-date.astro';
import Pagination from '@/components/pagination.astro';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import Hero from '@/components/ui/hero.astro';
import type { Locale } from '@/i18n/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function generateStaticPaths(
  params: {
    locale: Locale;
  } & GetStaticPathsOptions
) {
  const newsPages = await getBlogCollection({
    lang: params.locale,
  });

  // Get all categories
  const categories = [
    ...new Set(newsPages.flatMap((entry) => entry.data.categories)),
  ];

  return [
    ...params.paginate(newsPages, { pageSize: 20, props: { categories } }),
    ...categories.flatMap((category) =>
      params.paginate(
        newsPages.filter((article) =>
          article.data.categories?.includes(category ?? '')
        ),
        {
          pageSize: 20,
          params: { filter: category },
          props: { category },
        }
      )
    ),
  ];
}

export async function getStaticPaths(params: GetStaticPathsOptions) {
  return generateStaticPaths({ ...params, locale: 'fr' });
}

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const { page, category } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <!-- <SEO
    slot="seo"
    title="Blog"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
  /> -->
  <Hero>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left"
    >
      <BreadcrumbBase locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('blog.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('blog.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('blog.root.hero.description')}
      </p>
    </div>
  </Hero>
  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg px-6 pb-40 lg:pt-20">
      {
        category && (
          <p>
            {t('blog.root.categoryFilter')?.replace('{category}', category)}
          </p>
        )
      }
      <Pagination page={page}>
        <div class="grid gap-4 md:grid-cols-2">
          {
            page.data.map((post) => (
              <a
                href={lunalink(
                  ROUTES[parseAstroLocale(Astro.currentLocale)].blog['posts'][
                    ':id'
                  ].__path,
                  {
                    id: post.data._computed.slug,
                  }
                )}
              >
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </a>
            ))
          }
        </div>
      </Pagination>
    </div>
  </div>
</MainLayout>
