---
import { Image } from 'astro:assets';

import type { GetStaticPathsOptions } from 'astro';
import { PiArrowLeftBold, PiArrowRight } from 'react-icons/pi';

import { getBlogCollection } from '@/lib/blog';
import { getLink } from '@/lib/link';
import FormattedDate from '@/components/formatted-date.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import Hero from '@/components/ui/hero.astro';
import type { Locale } from '@/i18n/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

export async function generateStaticPaths(
  params: {
    locale: Locale;
  } & GetStaticPathsOptions
) {
  const newsPages = await getBlogCollection({
    lang: params.locale,
  });

  // Get all categories
  const categories = [
    ...new Set(newsPages.flatMap((entry) => entry.data.categories)),
  ];

  return [
    ...params.paginate(newsPages, { pageSize: 20, props: { categories } }),
    ...categories.flatMap((category) =>
      params.paginate(
        newsPages.filter((article) =>
          article.data.categories?.includes(category ?? '')
        ),
        {
          pageSize: 20,
          params: { filter: category },
          props: { category },
        }
      )
    ),
  ];
}

export async function getStaticPaths(params: GetStaticPathsOptions) {
  return generateStaticPaths({ ...params, locale: 'fr' });
}

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const { page, category } = Astro.props;
---

<MainLayout>
  <SEO
    slot="seo"
    title="Blog du BearStudio, studio de développement web à Rouen"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
    alternates={getAlternates('/fr/blog/:filter/:page', {
      filter: category ?? '',
      page: page.currentPage.toString(),
    })}
  />
  <Hero>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left"
    >
      <BreadcrumbBase locale={locale}>
        <BreadcrumbItem>
          {
            page.currentPage > 1 || category ? (
              <BreadcrumbLink href={getLink('/fr/blog', locale, {})}>
                {t('blog.root.hero.breadcrumb')}
              </BreadcrumbLink>
            ) : (
              <BreadcrumbPage>{t('blog.root.hero.breadcrumb')}</BreadcrumbPage>
            )
          }
        </BreadcrumbItem>
        {
          !!category && (
            <>
              <BreadcrumbSeparator />
              <BreadcrumbItem>
                {page.currentPage > 1 ? (
                  <BreadcrumbLink
                    href={getLink('/fr/blog/:filter', locale, {
                      filter: category,
                    })}
                  >
                    {category}
                  </BreadcrumbLink>
                ) : (
                  <BreadcrumbPage>{category}</BreadcrumbPage>
                )}
              </BreadcrumbItem>
            </>
          )
        }
        {
          page.currentPage > 1 && (
            <>
              <BreadcrumbSeparator />
              <BreadcrumbItem>
                <BreadcrumbPage>Page {page.currentPage}</BreadcrumbPage>
              </BreadcrumbItem>
            </>
          )
        }
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('blog.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('blog.root.hero.description')}
      </p>
    </div>
  </Hero>
  <div class="mx-auto w-full max-w-5xl px-4 lg:px-6">
    <div class="max-w-prose">
      {
        page.currentPage !== 1 && (
          <div class="flex py-4">
            <h3 class="text-sm tracking-widest text-balance uppercase opacity-60">
              Page {page.currentPage}
            </h3>
            <div class="ml-auto flex gap-2">
              {!!page.url.next && (
                <a href={page.url.next}>
                  <PiArrowLeftBold className="size-4" />
                  <span class="sr-only">Older articles</span>
                </a>
              )}
              {!!page.url.prev && (
                <a href={page.url.prev}>
                  <span class="sr-only">Newer articles</span>
                  <PiArrowRight className="size-4" />
                </a>
              )}
            </div>
          </div>
        )
      }

      <div class="grid gap-4 md:grid-cols-2">
        {
          page.data.map((post) => (
            <a
              href={getLink('/fr/blog/posts/:id', locale, {
                id: post.data._computed.slug,
              })}
            >
              {post.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
              )}
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.date} />
              </p>
            </a>
          ))
        }

        <div class="flex justify-between pt-4">
          {
            !!page.url.prev && (
              <a href={page.url.prev}>
                Newer <span class="max-xs:sr-only">articles</span>
                <PiArrowLeftBold className="size-4" />
              </a>
            )
          }
          {
            !!page.url.next && (
              <a href={page.url.next}>
                <PiArrowRight className="size-4" />
                Older <span class="max-xs:sr-only">articles</span>
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</MainLayout>
