---
import { Image } from 'astro:assets';

import type { GetStaticPathsOptions } from 'astro';
import { PiArrowLeftBold, PiArrowRight } from 'react-icons/pi';

import { getBlogCollection } from '@/lib/blog';
import { getLink } from '@/lib/link';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import { FormattedDate } from '@/components/ui/formatted-date';
import defaultImage from '@/components/ui/hero-bg.jpeg';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import type { Locale } from '@/i18n/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

export async function generateStaticPaths(
  params: {
    locale: Locale;
  } & GetStaticPathsOptions
) {
  const PAGE_SIZE = 24;
  const newsPages = await getBlogCollection({
    lang: params.locale,
  });

  // Get all categories
  const categories = [
    ...new Set(newsPages.flatMap((entry) => entry.data.categories)),
  ];

  return [
    ...params.paginate(newsPages, {
      pageSize: PAGE_SIZE,
      props: { categories },
    }),
    ...categories.flatMap((category) =>
      params.paginate(
        newsPages.filter((article) =>
          article.data.categories?.includes(category ?? '')
        ),
        {
          pageSize: PAGE_SIZE,
          params: { filter: category },
          props: { category },
        }
      )
    ),
  ];
}

export async function getStaticPaths(params: GetStaticPathsOptions) {
  return generateStaticPaths({ ...params, locale: 'fr' });
}

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const { page, category } = Astro.props;
---

<MainLayout>
  <SEO
    slot="seo"
    title="Blog du BearStudio, studio de développement web à Rouen"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
    alternates={getAlternates('/fr/blog/:filter/:page', {
      filter: category ?? '',
      page: page.currentPage.toString(),
    })}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/blog', locale, {}, true),
        name: t('blog.root.hero.breadcrumb'),
      },
      !!category && page.currentPage === 1
        ? {
            id: getLink('/fr/blog/:filter', locale, { filter: category }, true),
            name: t('blog.root.hero.breadcrumb'),
          }
        : undefined,
      page.currentPage > 1
        ? {
            id: getLink(
              '/fr/blog/:filter/:page',
              locale,
              { filter: category ?? '', page: page.currentPage.toString() },
              true
            ),
            name: `Page ${page.currentPage}`,
          }
        : undefined,
      !!category && page.currentPage > 1
        ? {
            id: getLink(
              '/fr/blog/:filter/:page',
              locale,
              { filter: category ?? '', page: page.currentPage.toString() },
              true
            ),
            name: `Page ${page.currentPage}`,
          }
        : undefined,
    ]}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          {
            page.currentPage > 1 || category ? (
              <BreadcrumbLink href={getLink('/fr/blog', locale, {})}>
                {t('blog.root.hero.breadcrumb')}
              </BreadcrumbLink>
            ) : (
              <BreadcrumbPage>{t('blog.root.hero.breadcrumb')}</BreadcrumbPage>
            )
          }
        </BreadcrumbItem>
        {
          !!category && (
            <>
              <BreadcrumbSeparator />
              <BreadcrumbItem>
                {page.currentPage > 1 ? (
                  <BreadcrumbLink
                    href={getLink('/fr/blog/:filter', locale, {
                      filter: category,
                    })}
                  >
                    {category}
                  </BreadcrumbLink>
                ) : (
                  <BreadcrumbPage>{category}</BreadcrumbPage>
                )}
              </BreadcrumbItem>
            </>
          )
        }
        {
          page.currentPage > 1 && (
            <>
              <BreadcrumbSeparator />
              <BreadcrumbItem>
                <BreadcrumbPage>Page {page.currentPage}</BreadcrumbPage>
              </BreadcrumbItem>
            </>
          )
        }
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('blog.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('blog.root.hero.description')}
      </p>
    </HeroContent>
  </Hero>
  <div class="-mt-16 lg:-mt-24">
    <div class="mx-auto w-full max-w-5xl px-6">
      <div class="xs:grid-cols-2 relative grid gap-4 py-4 md:grid-cols-3">
        {
          page.data.map((post) => (
            <a
              href={getLink('/fr/blog/posts/:id', locale, {
                id: post.data._computed.slug,
              })}
              class="bg-card border-card-border flex flex-col gap-2 overflow-hidden rounded-md border border-b-3 p-2"
            >
              <div class="bg-brand-900 relative aspect-[1.2] w-full overflow-hidden rounded-sm">
                <Image
                  src={post.data.heroImage ?? defaultImage}
                  alt=""
                  class="absolute inset-0 h-full w-full object-cover"
                  width={1200}
                  height={800}
                />
              </div>
              <div class="flex flex-1 flex-col gap-1 px-1">
                <h2 class="font-heading flex-1 leading-tight font-bold">
                  {post.data.title}
                </h2>
                <FormattedDate
                  date={post.data.date}
                  locale={locale}
                  className="text-xs opacity-60"
                />
              </div>
            </a>
          ))
        }
      </div>
      <div class="flex justify-between pt-4">
        {
          !!page.url.prev && (
            <a href={page.url.prev}>
              Newer <span class="max-xs:sr-only">articles</span>
              <PiArrowLeftBold className="size-4" />
            </a>
          )
        }
        {
          !!page.url.next && (
            <a href={page.url.next}>
              <PiArrowRight className="size-4" />
              Older <span class="max-xs:sr-only">articles</span>
            </a>
          )
        }
      </div>
    </div>
  </div>
</MainLayout>
