---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

import { isNonNullish } from 'remeda';

import { parseAstroLocale } from '@/i18n/utils';

import AnimatedBanner from '../ui/animated-banner.astro';
import defaultImg from './default.jpeg';

interface Props {
  href: string;
  title: string;
  description?: string;
  skills?: Array<string>;
}

const props = Astro.props;

const locale = parseAstroLocale(Astro.currentLocale);

const skills = (
  await Promise.all(
    (props.skills ?? []).map(
      async (skill) => await getEntry('skills', `${skill}/${locale}`)
    )
  )
).filter((skill) => isNonNullish(skill));

const icons = await Promise.all(
  skills.map(async (skill) => await getEntry(skill.data.icon))
);
---

<a
  href={props.href}
  class="bg-card group border-card-border relative flex flex-1 flex-col gap-2.5 rounded-md border border-b-3 p-2 transition-all hover:-translate-y-1.5 hover:shadow-xl"
>
  <div class="bg-brand-900 relative aspect-video w-full rounded-sm">
    <div class="absolute bottom-3 left-3 z-10 flex origin-bottom-left gap-2">
      {
        icons.map((icon) => {
          return (
            <Image
              src={icon.data.image}
              alt={icon.data.name}
              width={32}
              height={32}
            />
          );
        })
      }
    </div>

    <AnimatedBanner image={defaultImg} text={props.title} />
  </div>
  <div class="flex flex-1 flex-col gap-1 px-1.5 py-1">
    <h2 class="font-heading line-clamp-2 text-lg leading-tight font-bold">
      {props.title}
    </h2>
    <div class="text-xs leading-relaxed">
      <p>
        {props.description}
      </p>
    </div>
  </div>
</a>
