---
import { getImage, Image } from 'astro:assets';

import { getLink } from '@/lib/link';
import { getPeopleCollection } from '@/lib/people';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import { PeopleCarousel } from '@/components/people/people-carousel';
import SectionScratched from '@/components/sections/section-scratched.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import ServiceCard from '@/components/services/service-card.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

import photoGroup from './_group.jpg';
import imgCto from './accompagnement-cto/_bg.jpg';
import imgProjectBoost from './boost-projet/_bg.jpg';
import imgMobileDev from './developpement-mobile/_bg.jpg';
import imgWebDev from './developpement-web/_bg.jpg';
import imgAi from './intelligence-artificielle/_bg.jpg';
import imgUx from './ux-design/_bg.jpg';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('services.root.breadcrumb'),
    path: '/fr/prestations',
    params: {},
  }),
]);

const peopleCurrent = await Promise.all(
  (
    await getPeopleCollection({
      locale,
      status: 'current',
      limit: 6,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.picture
          ? await getImage({
              src: person.data.picture,
              widths: [200, 500],
              sizes: '(min-width: 800px) 500px, 200px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('services.root.title')}
    description={t('services.root.description')}
    alternates={getAlternates('/fr/prestations', {})}
    breadcrumb={breadcrumb}
  />

  <Hero>
    <HeroContent
      breadcrumb={breadcrumb}
      title={t('services.root.title')}
      description={t('services.root.description')}
    />
  </Hero>
  <Container placement="overlapHero">
    <div class="xs:grid-cols-2 grid gap-4 md:grid-cols-3">
      <ServiceCard
        href={getLink('/fr/prestations/ux-design', locale, {})}
        title={t('services.root.uxDesign.title')}
        description={t('services.root.uxDesign.description')}
        image={imgUx}
      />
      <ServiceCard
        href={getLink('/fr/prestations/developpement-web', locale, {})}
        title={t('services.root.webDevelopment.title')}
        description={t('services.root.webDevelopment.description')}
        image={imgWebDev}
      />
      <ServiceCard
        href={getLink('/fr/prestations/developpement-mobile', locale, {})}
        title={t('services.root.mobileDevelopment.title')}
        description={t('services.root.mobileDevelopment.description')}
        image={imgMobileDev}
      />
      <ServiceCard
        href={getLink('/fr/prestations/boost-projet', locale, {})}
        title={t('services.root.projectBoost.title')}
        description={t('services.root.projectBoost.description')}
        image={imgProjectBoost}
      />
      <ServiceCard
        href={getLink('/fr/prestations/accompagnement-cto', locale, {})}
        title={t('services.root.ctoSupport.title')}
        description={t('services.root.ctoSupport.description')}
        image={imgCto}
      />
      <ServiceCard
        href={getLink('/fr/prestations/intelligence-artificielle', locale, {})}
        title={t('services.root.ai.title')}
        description={t('services.root.ai.description')}
        image={imgAi}
      />
    </div>
  </Container>
  <SectionScratched image={photoGroup}>
    <Container>
      <div class="flex flex-col gap-8 sm:flex-row sm:items-center">
        <div class="flex flex-2 flex-col gap-4">
          <h2 class="font-heading text-accent text-2xl font-bold">
            {t('services.root.team.title')}
          </h2>
          <div class="grid gap-6">
            <div class="flex flex-col gap-2">
              <h3 class="font-heading text-lg font-bold">
                {t('services.root.team.yourTeamAndOurs.title')}
              </h3>
              <p class="text-sm">
                {t('services.root.team.yourTeamAndOurs.description')}
              </p>
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="font-heading text-lg font-bold">
                {t('services.root.team.ourTeamOnly.title')}
              </h3>
              <p class="text-sm">
                {t('services.root.team.ourTeamOnly.description')}
              </p>
            </div>
          </div>
        </div>
        <div
          class="relative aspect-square w-full max-w-[300px] flex-1 overflow-hidden rounded-md bg-white/5"
        >
          <Image
            src={photoGroup}
            alt={t('services.root.team.imageAlt')}
            width={600}
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      </div>
    </Container>
  </SectionScratched>
  <Container>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <h2 class="font-heading text-2xl font-bold">
          <a href={getLink('/fr/equipe', locale, {})}>
            {t('services.root.experts.title')}
          </a>
        </h2>
        <p class="max-w-[70ch] text-sm text-balance opacity-80">
          {t('services.root.experts.description')}
        </p>
      </div>
      <PeopleCarousel
        client:load
        people={peopleCurrent}
        locale={locale}
        moreLink={{
          href: getLink('/fr/equipe', locale, {}),
          label: t('services.root.experts.more'),
        }}
      />
    </div>
  </Container>
</MainLayout>
