---
import { Schema } from 'astro-seo-schema';
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';

import { getLink } from '@/lib/link';
import { getPeopleCollection } from '@/lib/people';
import { getPolaroidHref } from '@/lib/polaroids';
import { getPostsCollection } from '@/lib/posts';
import { cn } from '@/lib/tailwind/utils';
import { PostCardMore } from '@/components/blog/post-card-more';
import { PostsCarousel } from '@/components/blog/posts-carousel';
import { ContactFormDrawer } from '@/components/contact/contact-form-drawer';
import Container from '@/components/container.astro';
import Hero from '@/components/hero/hero.astro';
import { PeopleCarousel } from '@/components/people/people-carousel';
import { PersonCardMore } from '@/components/people/person-card-more';
import { Polaroid } from '@/components/polaroids/polaroid';
import { PolaroidsCarousel } from '@/components/polaroids/polaroids-carousel';
import SectionScratched from '@/components/sections/section-scratched.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { buttonVariants } from '@/components/ui/button';
import { TiltedCard } from '@/components/ui/tilted-card';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const polaroids = await Promise.all(
  (await getCollection('polaroids')).map(async (polaroid) => ({
    ...polaroid,
    data: {
      ...polaroid.data,
      image: await getImage({
        src: polaroid.data.src,
        widths: [200, 400],
        sizes: '(min-width: 800px) 400px, 200px',
        layout: 'constrained',
      }),
    },
  }))
);

const peopleCurrent = await Promise.all(
  (
    await getPeopleCollection({
      locale,
      status: 'current',
      limit: 6,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.picture
          ? await getImage({
              src: person.data.picture,
              widths: [200, 500],
              sizes: '(min-width: 800px) 500px, 200px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);

const latestPosts = await Promise.all(
  (
    await getPostsCollection({
      locale,
      limit: 5,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.heroImage
          ? await getImage({
              src: person.data.heroImage,
              widths: [800, 1200],
              sizes: '(min-width: 800px) 1200px, 800px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);
---

<MainLayout>
  <SEO
    slot="seo"
    alternates={getAlternates('/fr', {})}
    title={t('home.metadata.title')}
    description={t('home.metadata.description')}
    breadcrumb={null}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'WebPage',
      '@id': Astro.url.toString(),
      url: Astro.url.toString(),
      name: t('home.metadata.title'),
      description: t('home.metadata.description'),
    }}
  />

  <Hero contentClassName="lg:py-24">
    <div
      class="mx-auto flex w-full max-w-5xl flex-1 items-center justify-center gap-6 max-lg:pb-24 lg:gap-12"
    >
      <div
        class="flex flex-1 flex-col justify-center gap-4 max-lg:items-center max-lg:text-center lg:gap-4"
      >
        <h1
          class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
        >
          {t('home.title')}
        </h1>
        <p class="max-w-[50ch] text-sm text-balance opacity-80">
          {t('home.description')}
        </p>
        <div
          class="flex max-w-sm flex-wrap gap-2 pt-4 max-lg:items-center max-lg:justify-center"
        >
          <a
            href={getLink('/fr/prestations/ux-design', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.uxUiDesign')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.webDev')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.mobileDev')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.projectBoost')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.ctoSupport')}
          </a>
        </div>
      </div>

      <div
        class="relative -mr-12 grid flex-[0.8] grid-cols-2 flex-wrap items-center justify-center gap-x-8 gap-y-7 max-lg:hidden"
      >
        {
          polaroids.map(async (polaroid, index) => (
            <a
              href={getPolaroidHref(polaroid, locale)}
              class={cn(
                'flex w-full',
                index === 0 && 'translate-x-2 rotate-6',
                index === 1 && '-translate-y-2 -rotate-5',
                index === 2 && 'translate-y-2 -rotate-4',
                index === 3 && '-translate-x-1 -translate-y-2 rotate-3'
              )}
            >
              <TiltedCard
                className="w-full"
                client:load
                scaleOnHover={1.2}
                rotateAmplitude={20}
              >
                <Polaroid image={polaroid.data.image}>
                  {polaroid.data.title[locale]}
                </Polaroid>
              </TiltedCard>
            </a>
          ))
        }
      </div>
    </div>
  </Hero>

  <Container class="gap-12 pt-16">
    <div class="-mt-32 w-full lg:hidden">
      <PolaroidsCarousel client:load locale={locale} polaroids={polaroids} />
    </div>

    <div class="flex flex-col gap-8 md:flex-row">
      <div class="flex flex-1 flex-col gap-3">
        <h2
          class="font-heading text-2xl font-bold text-balance md:max-w-[20ch]"
        >
          {t('home.contact.title')}
        </h2>
        <p class="max-w-[70ch] text-sm text-balance">
          {t('home.contact.description')}
        </p>
        <div class="flex flex-col gap-2 max-md:hidden">
          <p>
            <a href="tel:+33749360436" class="font-medium">
              +33 (0)7 49 36 04 36
            </a>
          </p>
          <ContactFormDrawer
            client:load
            className="w-fit cursor-pointer"
            locale={locale}
          >
            <span class={buttonVariants({ size: 'lg' })}>
              {t('home.contact.cta')}
            </span>
          </ContactFormDrawer>
        </div>
      </div>

      <div class="xs:flex-row flex flex-2 flex-col gap-8">
        <div class="flex flex-1 flex-col gap-2">
          <h3 class="font-heading text-lg leading-tight font-bold text-balance">
            {t('home.contact.idea.title')}
          </h3>
          <p class="max-w-[70ch] text-sm text-balance italic">
            {t('home.contact.idea.quote')}
          </p>
          <p class="max-w-[70ch] text-sm text-balance">
            {t('home.contact.idea.description')}
          </p>
        </div>

        <div class="flex flex-1 flex-col gap-2">
          <h3 class="font-heading text-lg leading-tight font-bold text-balance">
            {t('home.contact.need.title')}
          </h3>
          <p class="max-w-[70ch] text-sm text-balance italic">
            {t('home.contact.need.quote')}
          </p>
          <p class="max-w-[70ch] text-sm text-balance">
            {t('home.contact.need.description')}
          </p>
        </div>
      </div>

      <div class="flex flex-wrap items-center gap-4 md:hidden">
        <ContactFormDrawer
          client:load
          className="w-fit cursor-pointer"
          locale={locale}
        >
          <span class={buttonVariants({ size: 'lg' })}>
            {t('home.contact.cta')}
          </span>
        </ContactFormDrawer>
        <p>
          <a href="tel:+33749360436" class="font-medium">
            +33 (0)7 49 36 04 36
          </a>
        </p>
      </div>
    </div>
  </Container>

  <SectionScratched>
    <Container class="py-12"> WIP </Container>
  </SectionScratched>

  <Container class="gap-12 pt-6">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <h2 class="font-heading text-2xl font-bold text-balance">
          <a href={getLink('/fr/equipe', locale, {})}
            >{t('home.experts.title')}</a
          >
        </h2>
        <p class="max-w-[70ch] text-sm text-balance">
          {t('home.experts.description')}
        </p>
      </div>
      <PeopleCarousel client:load people={peopleCurrent} locale={locale}>
        <PersonCardMore href={getLink('/fr/equipe', locale, {})}>
          {t('home.experts.more')}
        </PersonCardMore>
      </PeopleCarousel>
    </div>

    {
      !!latestPosts.length && (
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-1">
            <h2 class="font-heading text-2xl font-bold text-balance">
              <a href={getLink('/fr/blog', locale, {})}>
                {t('home.blog.title')}
              </a>
            </h2>
            <p class="max-w-[70ch] text-sm text-balance">
              {t('home.blog.description')}
            </p>
          </div>
          <PostsCarousel client:load posts={latestPosts} locale={locale}>
            <PostCardMore href={getLink('/fr/blog', locale, {})}>
              {t('home.blog.more')}
            </PostCardMore>
          </PostsCarousel>
        </div>
      )
    }
  </Container>
</MainLayout>
