---
import { Schema } from 'astro-seo-schema';
import { getImage, Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import { getLink } from '@/lib/link';
import { getPeopleCollection } from '@/lib/people';
import { getPolaroidHref } from '@/lib/polaroids';
import { getPostsCollection } from '@/lib/posts';
import { cn } from '@/lib/tailwind/utils';
import { PostCardMore } from '@/components/blog/post-card-more';
import { PostsCarousel } from '@/components/blog/posts-carousel';
import ContactCta from '@/components/contact/contact-cta.astro';
import Container from '@/components/container.astro';
import Hero from '@/components/hero/hero.astro';
import { PeopleCarousel } from '@/components/people/people-carousel';
import { PersonCardMore } from '@/components/people/person-card-more';
import { Polaroid } from '@/components/polaroids/polaroid';
import { PolaroidsCarousel } from '@/components/polaroids/polaroids-carousel';
import Prose from '@/components/prose.astro';
import SectionScratched from '@/components/sections/section-scratched.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { buttonVariants } from '@/components/ui/button';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const polaroids = await Promise.all(
  (await getCollection('polaroids')).map(async (polaroid) => ({
    ...polaroid,
    data: {
      ...polaroid.data,
      image: await getImage({
        src: polaroid.data.src,
        widths: [200, 400],
        sizes: '(min-width: 800px) 400px, 200px',
        layout: 'constrained',
      }),
    },
  }))
);

const peopleCurrent = await Promise.all(
  (
    await getPeopleCollection({
      locale,
      status: 'current',
      limit: 6,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.picture
          ? await getImage({
              src: person.data.picture,
              widths: [200, 500],
              sizes: '(min-width: 800px) 500px, 200px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);

const latestPosts = await Promise.all(
  (
    await getPostsCollection({
      locale,
      limit: 5,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.heroImage
          ? await getImage({
              src: person.data.heroImage,
              widths: [800, 1200],
              sizes: '(min-width: 800px) 1200px, 800px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);
---

<MainLayout>
  <SEO
    slot="seo"
    alternates={getAlternates('/fr', {})}
    title={t('home.metadata.title')}
    description={t('home.metadata.description')}
    breadcrumb={null}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'WebPage',
      '@id': Astro.url.toString(),
      url: Astro.url.toString(),
      name: t('home.metadata.title'),
      description: t('home.metadata.description'),
    }}
  />

  {/* Hero */}
  <Hero contentClassName="lg:py-24">
    <div
      class="mx-auto flex w-full max-w-5xl flex-1 items-center justify-center gap-6 max-lg:pb-24 lg:gap-12"
    >
      <div
        class="flex flex-1 flex-col justify-center gap-4 max-lg:items-center max-lg:text-center lg:gap-4"
      >
        <h1
          class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
        >
          {t('home.title')}
        </h1>
        <p class="max-w-[50ch] text-sm text-balance opacity-80">
          {t('home.description')}
        </p>
        <div
          class="flex max-w-sm flex-wrap gap-2 pt-4 max-lg:items-center max-lg:justify-center"
        >
          <a
            href={getLink('/fr/prestations/ux-design', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.uxUiDesign')}
          </a>
          <a
            href={getLink('/fr/prestations/developpement-web', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.webDev')}
          </a>
          <a
            href={getLink('/fr/prestations/developpement-mobile', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.mobileDev')}
          </a>
          <a
            href={getLink('/fr/prestations/boost-projet', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.projectBoost')}
          </a>
          <a
            href={getLink('/fr/prestations/accompagnement-cto', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.ctoSupport')}
          </a>
        </div>
      </div>

      <div
        class="relative -mr-12 grid flex-[0.8] grid-cols-2 flex-wrap items-center justify-center gap-x-8 gap-y-7 max-lg:hidden"
      >
        {
          polaroids.map(async (polaroid, index) => (
            <a
              href={getPolaroidHref(polaroid, locale)}
              class={cn(
                'flex w-full transition-all duration-500 hover:z-10 hover:scale-120 hover:rotate-0',
                index === 0 && 'translate-x-2 rotate-6',
                index === 1 && '-translate-y-2 -rotate-5',
                index === 2 && 'translate-y-2 -rotate-4',
                index === 3 && '-translate-x-1 -translate-y-2 rotate-3'
              )}
            >
              <Polaroid image={polaroid.data.image}>
                {polaroid.data.title[locale]}
              </Polaroid>
            </a>
          ))
        }
      </div>
    </div>
  </Hero>

  <div class="flex flex-col md:gap-20">
    {/* Your problem */}
    <Container class="md:pt-20">
      <div class="-mt-32 w-full lg:hidden">
        <PolaroidsCarousel client:load locale={locale} polaroids={polaroids} />
      </div>

      <div class="flex flex-col gap-8 pt-8 md:flex-row md:pt-0">
        <div class="flex flex-1 flex-col gap-3">
          <h2
            class="font-heading text-2xl font-bold text-balance md:max-w-[20ch]"
          >
            {t('home.contact.title')}
          </h2>
          <p class="max-w-[70ch] text-sm text-balance">
            {t('home.contact.description')}
          </p>
          <ContactCta locale={locale} class="max-md:hidden" />
        </div>

        <div class="xs:flex-row flex flex-2 flex-col gap-8">
          <div class="flex flex-1 flex-col gap-2">
            <h3
              class="font-heading text-lg leading-tight font-bold text-balance"
            >
              {t('home.contact.idea.title')}
            </h3>
            <p class="max-w-[70ch] text-sm text-balance italic">
              {t('home.contact.idea.quote')}
            </p>
            <p class="max-w-[70ch] text-sm text-balance">
              {t('home.contact.idea.description')}
            </p>
          </div>

          <div class="flex flex-1 flex-col gap-2">
            <h3
              class="font-heading text-lg leading-tight font-bold text-balance"
            >
              {t('home.contact.need.title')}
            </h3>
            <p class="max-w-[70ch] text-sm text-balance italic">
              {t('home.contact.need.quote')}
            </p>
            <p class="max-w-[70ch] text-sm text-balance">
              {t('home.contact.need.description')}
            </p>
          </div>
        </div>

        <ContactCta locale={locale} class="md:hidden" />
      </div>
    </Container>

    {/* Trust */}
    <SectionScratched>
      <Container>
        <div class="flex flex-1 flex-col gap-2">
          <h2
            class="font-heading text-accent text-2xl font-bold text-balance md:max-w-[20ch]"
          >
            {t('home.trust.title')}
          </h2>
          <p class="max-w-[70ch] text-sm text-balance">
            {t('home.trust.description')}
          </p>
        </div>

        <div class="2xs:grid-cols-2 grid flex-2 gap-4 sm:grid-cols-3">
          <a
            href="https://www.cuisinez-pour-bebe.fr/"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/cuisinez-pour-bebe_bg-white@hd.png"
                alt="Cuisinez pour bébé"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.cuisinezPourBebe')}
              </p>
            </div>
          </a>
          <a
            href="https://www.docaposte-agility.fr/"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/docaposte_bg-white@hd.png"
                alt="Docaposte Agility"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.docaposte')}
              </p>
            </div>
          </a>
          <a
            href="https://kernelbiomedical.com/"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/kernel-biomedical_bg-white@hd.png"
                alt="Kernel Biomedical"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.kernelBiomedical')}
              </p>
            </div>
          </a>
          <a
            href="https://apps.apple.com/fr/app/l%C3%A9a-english/id6739615642"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/lea-english_bg-white@hd.png"
                alt="Léa English"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.leaEnglish')}
              </p>
            </div>
          </a>
          <a
            href="https://trashtalk.co/"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/trashtalk_bg-white@hd.png"
                alt="TrashTalk"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.trashTalk')}
              </p>
            </div>
          </a>
          <a
            href="https://campo-products.com/"
            class="group flex flex-col gap-2 overflow-hidden rounded-sm p-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="overflow-hidden rounded-sm bg-white shadow-xl transition group-hover:scale-105"
            >
              <Image
                width={288}
                height={172}
                class="w-fit"
                src="/logos/campo_bg-white@hd.png"
                alt="Campo"
              />
            </div>
            <div class="flex flex-2 flex-col gap-1 p-2">
              <p class="text-xs opacity-80">
                {t('home.trust.clients.campo')}
              </p>
            </div>
          </a>
        </div>
      </Container>
    </SectionScratched>

    <Container class="gap-12 md:gap-20">
      {/* Experts */}
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <h2 class="font-heading text-2xl font-bold text-balance">
            <a href={getLink('/fr/equipe', locale, {})}
              >{t('home.experts.title')}</a
            >
          </h2>
          <p class="max-w-[70ch] text-sm text-balance">
            {t('home.experts.description')}
          </p>
        </div>
        <PeopleCarousel client:load people={peopleCurrent} locale={locale}>
          <PersonCardMore href={getLink('/fr/equipe', locale, {})}>
            {t('home.experts.more')}
          </PersonCardMore>
        </PeopleCarousel>
      </div>

      {/* Latest Posts */}
      {
        !!latestPosts.length && (
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
              <h2 class="font-heading text-2xl font-bold text-balance">
                <a href={getLink('/fr/blog', locale, {})}>
                  {t('home.blog.title')}
                </a>
              </h2>
              <p class="max-w-[70ch] text-sm text-balance">
                {t('home.blog.description')}
              </p>
            </div>
            <PostsCarousel client:load posts={latestPosts} locale={locale}>
              <PostCardMore href={getLink('/fr/blog', locale, {})}>
                {t('home.blog.more')}
              </PostCardMore>
            </PostsCarousel>
          </div>
        )
      }
    </Container>

    {/* Values */}
    <SectionScratched>
      <Container class="md:py-20">
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h2
              class="font-heading text-accent text-2xl font-bold text-balance"
            >
              {t('home.values.title')}
            </h2>
            <p class="max-w-[70ch] text-sm text-balance">
              {t('home.values.intro')}
            </p>
          </div>

          <div class="grid flex-2 gap-6 py-4 lg:grid-cols-2">
            <div class="flex flex-col gap-4">
              <h3
                class="font-heading text-lg leading-tight font-bold text-balance"
              >
                {t('home.values.support.title')}
              </h3>
              <p class="max-w-[70ch] text-sm text-balance italic">
                {t('home.values.support.description')}
              </p>
              <p class="font-handwritten text-2xl md:text-3xl">
                {t('home.values.support.hashtag')}
              </p>
            </div>

            <div class="flex flex-col gap-4">
              <h3
                class="font-heading text-lg leading-tight font-bold text-balance"
              >
                {t('home.values.quality.title')}
              </h3>
              <p class="max-w-[70ch] text-sm text-balance italic">
                {t('home.values.quality.description')}
              </p>
              <p class="font-handwritten text-2xl md:text-3xl">
                {t('home.values.quality.hashtag')}
              </p>
            </div>

            <div class="flex flex-col gap-4">
              <h3
                class="font-heading text-lg leading-tight font-bold text-balance"
              >
                {t('home.values.team.title')}
              </h3>
              <p class="max-w-[70ch] text-sm text-balance italic">
                {t('home.values.team.description')}
              </p>
              <p class="max-w-[70ch] text-sm text-balance italic">
                {t('home.values.team.location')}
              </p>
              <p class="font-handwritten text-2xl md:text-3xl">
                {t('home.values.team.hashtag')}
              </p>
            </div>

            <div class="flex flex-col gap-4">
              <h3
                class="font-heading text-lg leading-tight font-bold text-balance"
              >
                {t('home.values.conviviality.title')}
              </h3>
              <p class="max-w-[70ch] text-sm text-balance italic">
                {t('home.values.conviviality.description')}
              </p>
              <p class="font-handwritten text-2xl md:text-3xl">
                {t('home.values.conviviality.hashtag')}
              </p>
            </div>
          </div>
        </div>
      </Container>
    </SectionScratched>

    {/* Work with us */}
    <Container class="sm:flex-row sm:gap-8">
      <div class="flex flex-1 flex-col gap-2">
        <h2
          class="font-heading text-2xl font-bold text-balance md:max-w-[20ch]"
        >
          {t('home.workWithUs.title')}
        </h2>
        <p class="max-w-[70ch] text-sm text-balance">
          {t('home.workWithUs.description')}
        </p>
        <ContactCta locale={locale} />
      </div>
      <div class="grid flex-2 gap-6 py-4 pb-12 lg:grid-cols-2">
        <Prose class="prose-sm prose-p:my-0.5 flex flex-col">
          <h3>
            <a
              href={getLink('/fr/prestations/ux-design', locale, {})}
              class="text-foreground! no-underline hover:underline"
              >{t('home.workWithUs.design.title')}</a
            >
          </h3>
          <>
            <p set:html={t('home.workWithUs.design.description1')} />
            <p set:html={t('home.workWithUs.design.description2')} />
          </>
        </Prose>
        <Prose class="prose-sm prose-p:my-0.5 flex flex-col">
          <h3>
            <a
              href={getLink('/fr/prestations/developpement-web', locale, {})}
              class="text-foreground! no-underline hover:underline"
              >{t('home.workWithUs.development.title')}</a
            >
          </h3>
          <>
            <p set:html={t('home.workWithUs.development.description1')} />
            <p set:html={t('home.workWithUs.development.description2')} />
          </>
        </Prose>
        <Prose class="prose-sm prose-p:my-0.5 flex flex-col">
          <h3>
            <a
              href={getLink('/fr/prestations/boost-projet', locale, {})}
              class="text-foreground! no-underline hover:underline"
              >{t('home.workWithUs.boost.title')}</a
            >
          </h3>
          <>
            <p set:html={t('home.workWithUs.boost.description1')} />
            <p set:html={t('home.workWithUs.boost.description2')} />
          </>
        </Prose>
        <Prose class="prose-sm prose-p:my-0.5 flex flex-col">
          <h3>{t('home.workWithUs.ai.title')}</h3>
          <>
            <p set:html={t('home.workWithUs.ai.description1')} />
            <p set:html={t('home.workWithUs.ai.description2')} />
          </>
        </Prose>
      </div>
    </Container>
  </div>
</MainLayout>
