---
import { getCollection } from 'astro:content';

import { getLink } from '@/lib/link';
import { cn } from '@/lib/tailwind/utils';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import { buttonVariants } from '@/components/ui/button';
import Hero from '@/components/ui/hero.astro';
import { Polaroid } from '@/components/ui/polaroid';
import { TiltedCard } from '@/components/ui/tilted-card';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { HomePolaroids } from '@/pages/_partials/home-polaroids';
import { ROUTES } from '@/routes.gen';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const polaroids = await getCollection('polaroids');
---

<MainLayout>
  <SEO slot="seo" alternates={getAlternates(ROUTES.fr.__path, {})} />
  <SchemaBreadcrumb slot="breadcrumb" items={[]} />

  <Hero contentClassName="lg:py-24">
    <div
      class="mx-auto flex w-full max-w-5xl flex-1 items-center justify-center gap-6 max-lg:pb-24 lg:gap-12"
    >
      <div
        class="flex flex-1 flex-col justify-center gap-4 max-lg:items-center max-lg:text-center lg:gap-6"
      >
        <h1
          class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
        >
          {t('home.hero.title')}
        </h1>
        <div
          class="flex max-w-sm flex-wrap gap-2 max-lg:items-center max-lg:justify-center"
        >
          <a
            href={getLink('/fr/prestations/ux-design', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.uxUiDesign')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.webDev')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.mobileDev')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.projectBoost')}
          </a>
          <a
            href={getLink('/fr/prestations', locale, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            {t('home.services.ctoSupport')}
          </a>
        </div>
      </div>

      <div
        class="relative -mr-12 grid flex-[0.8] grid-cols-2 flex-wrap items-center justify-center gap-x-8 gap-y-7 max-lg:hidden"
      >
        {
          polaroids.map((polaroid, index) => (
            <a
              href={polaroid.data.href}
              class={cn(
                'flex w-full',
                index === 0 && 'translate-x-2 rotate-6',
                index === 1 && '-translate-y-2 -rotate-5',
                index === 2 && 'translate-y-2 -rotate-4',
                index === 3 && '-translate-x-1 -translate-y-2 rotate-3'
              )}
            >
              <TiltedCard
                className="w-full"
                client:load
                scaleOnHover={1.2}
                rotateAmplitude={20}
              >
                <Polaroid src={polaroid.data.src}>
                  {polaroid.data.title[locale]}
                </Polaroid>
              </TiltedCard>
            </a>
          ))
        }
      </div>
    </div>
  </Hero>

  <div class="-mt-32 w-full lg:hidden">
    <HomePolaroids client:load locale={locale} polaroids={polaroids} />
  </div>

  <div class="mx-auto max-w-5xl p-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
  </div>

  <div class="flex h-[2000px] flex-col gap-4 p-4"></div>
</MainLayout>
