---
import type { GetStaticPathsOptions } from 'astro';
import { PiArrowLeftBold, PiArrowRight } from 'react-icons/pi';

import { getLink } from '@/lib/link';
import { getPostsCollection } from '@/lib/posts';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/breadcrumb/ui';
import PostCard from '@/components/posts/post-card.astro';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import type { Locale } from '@/i18n/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

export async function generateStaticPaths(
  params: {
    locale: Locale;
  } & GetStaticPathsOptions
) {
  const PAGE_SIZE = 24;
  const newsPages = await getPostsCollection({
    locale: params.locale,
  });

  return [
    ...params.paginate(newsPages, {
      pageSize: PAGE_SIZE,
    }),
  ];
}

export async function getStaticPaths(params: GetStaticPathsOptions) {
  return generateStaticPaths({ ...params, locale: 'fr' });
}

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const { page } = Astro.props;

// const breadcrumb = breadcrumbEntries(locale)((entry) => [
//   entry({
//     path: '/fr/blog',
//     params: {},
//     label: t('blog.root.hero.breadcrumb'),
//   }),
//   page.currentPage > 1
//     ? entry({
//         path: '/fr/blog',
//         params: {},
//         label: t('blog.root.hero.breadcrumb'),
//       })
//     : null,
// ]);
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('blog.root.metadata.title')}
    description={t('blog.root.metadata.description')}
    alternates={getAlternates('/fr/blog/:page', {
      page: page.currentPage.toString(),
    })}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/blog', locale, {}, true),
        name: t('blog.root.hero.breadcrumb'),
      },
      page.currentPage > 1
        ? {
            id: getLink(
              '/fr/blog/:page',
              locale,
              { page: page.currentPage.toString() },
              true
            ),
            name: `Page ${page.currentPage}`,
          }
        : undefined,
    ]}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          {
            page.currentPage > 1 ? (
              <BreadcrumbLink href={getLink('/fr/blog', locale, {})}>
                {t('blog.root.hero.breadcrumb')}
              </BreadcrumbLink>
            ) : (
              <BreadcrumbPage>{t('blog.root.hero.breadcrumb')}</BreadcrumbPage>
            )
          }
        </BreadcrumbItem>
        {
          page.currentPage > 1 && (
            <>
              <BreadcrumbSeparator />
              <BreadcrumbItem>
                <BreadcrumbPage>Page {page.currentPage}</BreadcrumbPage>
              </BreadcrumbItem>
            </>
          )
        }
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('blog.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('blog.root.hero.description')}
      </p>
    </HeroContent>
  </Hero>
  <div class="-mt-16 lg:-mt-24">
    <div class="mx-auto w-full max-w-5xl px-6">
      <div class="xs:grid-cols-2 relative grid gap-4 py-4 md:grid-cols-3">
        {page.data.map((post) => <PostCard post={post} />)}
      </div>
      <div class="flex justify-between pt-4">
        {
          !!page.url.prev && (
            <a href={page.url.prev}>
              Newer <span class="max-xs:sr-only">articles</span>
              <PiArrowLeftBold className="size-4" />
            </a>
          )
        }
        {
          !!page.url.next && (
            <a href={page.url.next}>
              <PiArrowRight className="size-4" />
              Older <span class="max-xs:sr-only">articles</span>
            </a>
          )
        }
      </div>
    </div>
  </div>
</MainLayout>
