---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { loadRenderers } from 'astro:container';
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { experimental_AstroContainer } from 'astro/container';
import { getContainerRenderer as mdxContainerRenderer } from '@astrojs/mdx';

import { lunalink } from '@bearstudio/lunalink';

import { getConferenceEvents } from '@/lib/conferences';
import Prose from '@/components/Prose.astro';
import SEO from '@/components/SEO/index.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths() {
  const conferences = await getCollection('conferences');
  return conferences.map((conference) => ({
    params: { id: conference.id },
    props: conference,
  }));
}
type Props = CollectionEntry<'conferences'>;

const conference = Astro.props;
const { Content } = await render(conference);
const url = new URL(Astro.url.pathname, Astro.site);

const renderers = await loadRenderers([mdxContainerRenderer()]);
const container = await experimental_AstroContainer.create({ renderers });

// Derive Metadata from post Data
const conferenceBody = (await container.renderToString(Content))
  // strip html tags
  .replace(/<[^>]*>/g, '')
  .trim();

const instances = await getConferenceEvents({
  conference: conference.data,
});
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title={conference.data.title}
    description={conference.data?.metaDescription ?? ''}
    url={url}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'Event',
      conferenceBody,
      headline: conference.data.title,
      abstract: conference.data?.excerpt ?? '',
      isAccessibleForFree: true,
    }}
  />
  <div class="mx-auto flex w-full max-w-screen-sm flex-col gap-4 px-4">
    <div class="flex flex-col items-center gap-2">
      <h1>
        {conference.data.title}
      </h1>
      <span>
        {conference.data?.description}
      </span>
      {
        conference.data.image && (
          <Image src={conference.data.image} alt={conference.data.title} />
        )
      }

      <h2>Evenements</h2>
      {
        instances.map((instance) => {
          return (
            <div class="flex flex-col gap-1">
              <h3>{instance.date}</h3>

              {instance?.event && (
                <a
                  href={lunalink(ROUTES.events[':id'].__path, {
                    id: instance.event.id,
                  })}
                >
                  {instance.event.data.title}
                </a>
              )}

              {instance.language && <p>Language: {instance.language}</p>}

              {instance.speakers && (
                <div>
                  <p>Speakers: {instance.speakers.map((speaker) => speaker)}</p>
                </div>
              )}

              {instance.replayLink && (
                <a href={instance.replayLink}>Lien du replay</a>
              )}
            </div>
          );
        })
      }
      {conference.data.state}
    </div>
    <Prose>
      <Content />
    </Prose>
  </div>
</MainLayout>
