---
import { Schema } from 'astro-seo-schema';
import { loadRenderers } from 'astro:container';
import { render } from 'astro:content';
import { experimental_AstroContainer } from 'astro/container';
import { getContainerRenderer as mdxContainerRenderer } from '@astrojs/mdx';

import dayjs from 'dayjs';

import { getBlogCollection, type BlogPostWithComputed } from '@/lib/blog';
import { getLink } from '@/lib/link';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import { FormattedDate } from '@/components/ui/formatted-date';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale, type Locale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function generateStaticPaths(params: { locale: Locale }) {
  const posts = await getBlogCollection({ locale: params.locale });

  return Promise.all(
    posts.map((post) => {
      return {
        params: { id: post.data._computed.slug },
        props: { post },
      };
    })
  );
}

export async function getStaticPaths() {
  return generateStaticPaths({ locale: 'fr' });
}

type Props = {
  post: BlogPostWithComputed;
};

const { post } = Astro.props;
const { Content } = await render(post);
const url = new URL(Astro.url.pathname, Astro.site);

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const renderers = await loadRenderers([mdxContainerRenderer()]);
const container = await experimental_AstroContainer.create({ renderers });

// Derive Metadata from post Data
const articleBody = (await container.renderToString(Content))
  // strip html tags
  .replace(/<[^>]*>/g, '')
  .trim();
const wordCount = articleBody.split(' ').length;
---

<MainLayout>
  <SEO
    slot="seo"
    title={post.data.title}
    description={post.data.metaDescription ?? ''}
    url={url}
    alternates={getAlternates(ROUTES.fr.blog.posts[':id'].__path, {
      id: post.data._computed.slug,
    })}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'BlogPosting',
      articleBody,
      headline: post.data.title,
      wordCount,
      datePublished: dayjs(post.data.date).format('YYYY-MM-DD'),
      abstract: post.data.excerpt ?? '',
      isAccessibleForFree: true,
      author: post.data._computed.authors.map((author) => ({
        '@type': 'Person',
        name: author?.data.name ?? '',
      })),
      keywords: post.data.tags ?? [],
    }}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/blog', locale, {}, true),
        name: t('blog.root.hero.breadcrumb'),
      },
      {
        id: getLink(
          '/fr/blog/posts/:id',
          locale,
          {
            id: post.data._computed.slug,
          },
          true
        ),
        name: post.data.title,
      },
    ]}
  />
  <Hero image={post.data.heroImage}>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbLink href={getLink('/fr/blog', locale, {})}>
            {t('blog.root.hero.breadcrumb')}
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{post.data.title}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[30ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {post.data.title}
      </h1>
      <div class="flex flex-col gap-0 text-sm lg:flex-row lg:gap-1">
        <div class="opacity-60">
          Le
          <FormattedDate date={post.data.date} locale={locale} />
        </div>
        {
          !!post.data._computed.authors.length && (
            <div>
              <span class="opacity-60">par</span>
              {post.data._computed.authors?.map((author) => {
                if (!author) return null;
                return author.data._computed.slug ? (
                  <a
                    href={getLink('/fr/equipe/:id', locale, {
                      id: author.data._computed.slug,
                    })}
                    class="font-medium opacity-80 hover:opacity-100"
                  >
                    {author.data.name}
                  </a>
                ) : (
                  <span class="opacity-60">{author.data.name}</span>
                );
              })}
            </div>
          )
        }
      </div>
    </HeroContent>
  </Hero>
  <div class="mx-auto w-full max-w-5xl px-6 py-12">
    <Prose>
      <Content />
    </Prose>
    <div class="flex flex-col gap-0 pt-12 text-sm lg:flex-row lg:gap-1">
      <div>
        Publié le
        <FormattedDate date={post.data.date} locale={locale} />
      </div>
      {
        !!post.data._computed.authors.length && (
          <div>
            <span>par</span>
            {post.data._computed.authors?.map((author) => {
              if (!author) return null;
              return author.data._computed.slug ? (
                <a
                  href={getLink('/fr/equipe/:id', locale, {
                    id: author.data._computed.slug,
                  })}
                  class="font-medium hover:underline"
                >
                  {author.data.name}
                </a>
              ) : (
                <span>{author.data.name}</span>
              );
            })}
          </div>
        )
      }
    </div>
  </div>
</MainLayout>
