---
import { Schema } from 'astro-seo-schema';
import { loadRenderers } from 'astro:container';
import { render } from 'astro:content';
import { experimental_AstroContainer } from 'astro/container';
import { getContainerRenderer as mdxContainerRenderer } from '@astrojs/mdx';

import { lunalink } from '@bearstudio/lunalink';
import dayjs from 'dayjs';

import { getBlogCollection } from '@/lib/blog';
import type { ComputedCollectionEntry } from '@/lib/content';
import { getLink, link } from '@/lib/link';
import { cn } from '@/lib/tailwind/utils';
import { getTeamBySlugs } from '@/lib/team';
import FormattedDate from '@/components/formatted-date.astro';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale, type Locale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function generateStaticPaths(params: { locale: Locale }) {
  const posts = await getBlogCollection({ lang: params.locale });

  return Promise.all(
    posts.map(async (post) => {
      const authors = await getTeamBySlugs({
        slugs: post?.data?.authors?.map((author) => author.id) ?? [],
        lang: params.locale,
      });

      return {
        params: { id: post.data._computed.slug },
        props: { post, authors },
      };
    })
  );
}

export async function getStaticPaths() {
  return generateStaticPaths({ locale: 'fr' });
}

type Props = {
  post: ComputedCollectionEntry<'blog'>;
  authors: Array<ComputedCollectionEntry<'team'>>;
};

const { post, authors } = Astro.props;
const { date, title } = post.data;
const { Content } = await render(post);
const url = new URL(Astro.url.pathname, Astro.site);

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const renderers = await loadRenderers([mdxContainerRenderer()]);
const container = await experimental_AstroContainer.create({ renderers });

// Derive Metadata from post Data
const articleBody = (await container.renderToString(Content))
  // strip html tags
  .replace(/<[^>]*>/g, '')
  .trim();
const wordCount = articleBody.split(' ').length;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title={post.data.title}
    description={post.data.metaDescription ?? ''}
    url={url}
    alternates={{
      fr: link(ROUTES.fr.blog.posts[':id'].__path, {
        id: post.data._computed.slug,
      }),
      en: link(ROUTES.en.blog.posts[':id'].__path, {
        id: post.data._computed.slug,
      }),
    }}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'BlogPosting',
      articleBody,
      headline: post.data.title,
      wordCount,
      datePublished: dayjs(post.data.date).format('YYYY-MM-DD'),
      abstract: post.data.excerpt ?? '',
      isAccessibleForFree: true,
      author: authors.map((author) => ({
        '@type': 'Person',
        name: author?.data.name ?? '',
      })),
      keywords: post.data.tags ?? [],
    }}
  />
  <Hero image={post.data.heroImage}>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left"
    >
      <BreadcrumbBase locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbLink href={getLink('/fr/blog', locale, {})}>
            {t('blog.root.hero.breadcrumb')}
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{title}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[30ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {title}
      </h1>
    </div>
  </Hero>
  <div class="pb-20 lg:pt-20 lg:pb-0">
    <div
      class={cn(
        'mx-auto w-full flex-1 max-w-screen-lg flex flex-col gap-8 pt-4 pb-40 relative z-10 px-8 md:px-12'
      )}
    >
      <div class="flex flex-col items-center gap-4">
        <FormattedDate date={date} />
        {
          authors?.map(
            (author) =>
              author && (
                <a
                  href={lunalink(ROUTES.fr.equipe[':id'].__path, {
                    id: author.data._computed.slug,
                  })}
                >
                  {author.data.name}
                </a>
              )
          )
        }
      </div>
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</MainLayout>
