---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { render } from 'astro:content';

import { lunalink } from '@bearstudio/lunalink';

import { getBlogCollectionLinkedToTeamMember } from '@/lib/blog';
import { getConferenceCollectionLinkedToTeamMember } from '@/lib/conferences';
import type { ComputedCollectionEntry } from '@/lib/content';
import { getLink } from '@/lib/link';
import { getCurrentTeamCollection } from '@/lib/team';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale, type Locale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function generateStaticPaths(params: { locale: Locale }) {
  const team = await getCurrentTeamCollection({ lang: params.locale });

  return Promise.all(
    team.map(async (person) => {
      const posts = await getBlogCollectionLinkedToTeamMember({
        author: person,
        lang: params.locale,
      });

      const conferences = await getConferenceCollectionLinkedToTeamMember({
        speaker: person,
        lang: params.locale,
      });

      return {
        params: { id: person.data._computed.slug },
        props: { person, posts, conferences },
      };
    })
  );
}
export async function getStaticPaths() {
  return generateStaticPaths({ locale: 'fr' });
}

type Props = {
  person: ComputedCollectionEntry<'team'>;
  posts?: Array<ComputedCollectionEntry<'blog'>>;
  conferences?: Array<ComputedCollectionEntry<'conferences'>>;
};
const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const { person, posts, conferences } = Astro.props;
const { Content } = await render(person);
const url = new URL(Astro.url.pathname, Astro.site);
---

<MainLayout>
  <SEO
    slot="seo"
    title={person.data.name}
    url={url}
    alternates={getAlternates(ROUTES.fr.equipe[':id'].__path, {
      id: person.data._computed.slug,
    })}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/equipe', locale, {}, true),
        name: t('team.root.hero.breadcrumb'),
      },
      {
        id: getLink(
          '/fr/equipe/:id',
          locale,
          { id: person.data._computed.slug },
          true
        ),
        name: person.data.name,
      },
    ]}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'Person',
      headline: person.data.name,
      isAccessibleForFree: true,
    }}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbLink href={getLink('/fr/equipe', locale, {})}
            >{t('team.root.hero.breadcrumb')}</BreadcrumbLink
          >
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>
            {person.data.name}
          </BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {person.data.name}
      </h1>
    </HeroContent>
  </Hero>
  <div class="mx-auto w-full max-w-5xl px-6">
    <div class="flex flex-col items-center gap-2">
      <span>
        {person.data.job}
      </span>
      {
        person.data.picture && (
          <Image src={person.data.picture} alt={person.data.name} />
        )
      }

      {
        person.data.socials?.map((social) => (
          <a href={social.href}>{social.type}</a>
        ))
      }

      {person.data.status}
      {String(person.data.hidden)}
    </div>
    <Prose>
      <Content />
    </Prose>

    <h2>Articles liés</h2>
    {
      posts?.map((post) => {
        return (
          <a
            href={lunalink(ROUTES.fr.blog.posts[':id'].__path, {
              id: post.data._computed.slug,
            })}
          >
            {post.data.title}
          </a>
        );
      })
    }

    <h2>Conférences liés</h2>
    {
      conferences?.map((conference) => {
        return (
          <>
            <h3>{conference.data.title}</h3>

            {conference.data.instances && (
              <ul class="pl-3">
                {conference.data.instances.map((instance) => {
                  return (
                    (instance.speakers ?? []).some(
                      (speaker) => speaker.id === person.data._computed.slug
                    ) && <li>{instance.date}</li>
                  );
                })}
              </ul>
            )}
          </>
        );
      })
    }
  </div>
</MainLayout>
