---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { render } from 'astro:content';

import { getConferencesCollectionByPerson } from '@/lib/conferences';
import type { ComputedCollectionEntry } from '@/lib/content';
import { getLink } from '@/lib/link';
import { getPeopleCollection } from '@/lib/people';
import { getPostsCollectionLinkedToPerson } from '@/lib/posts';
import PostCard from '@/components/posts/post-card.astro';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { SOCIALS } from '@/content/socials';
import { getTranslationFn, parseAstroLocale, type Locale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

export async function generateStaticPaths(params: { locale: Locale }) {
  const people = await getPeopleCollection({ locale: params.locale });
  return Promise.all(
    people.map(async (person) => {
      return {
        params: { id: person.data._computed.slug },
        props: { person },
      };
    })
  );
}
export async function getStaticPaths() {
  return generateStaticPaths({ locale: 'fr' });
}

type Props = {
  person: ComputedCollectionEntry<'people'>;
  posts?: Array<ComputedCollectionEntry<'posts'>>;
  conferences?: Array<ComputedCollectionEntry<'conferences'>>;
};

const locale = parseAstroLocale(Astro.currentLocale);
const { person } = Astro.props;
const posts = await getPostsCollectionLinkedToPerson({
  author: person,
  locale: locale,
});

const conferences = await getConferencesCollectionByPerson({
  person,
  locale: locale,
});
const t = getTranslationFn(locale);
const { Content } = await render(person);
const url = new URL(Astro.url.pathname, Astro.site);

if (!person.data._computed.slug) {
  return new Response(null, { status: 404 });
}
---

<MainLayout>
  <SEO
    slot="seo"
    title={person.data.name}
    url={url}
    alternates={getAlternates('/fr/equipe/:id', {
      id: person.data._computed.slug,
    })}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/equipe', locale, {}, true),
        name: t('team.root.hero.breadcrumb'),
      },
      {
        id: getLink(
          '/fr/equipe/:id',
          locale,
          { id: person.data._computed.slug },
          true
        ),
        name: person.data.name,
      },
    ]}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'Person',
      headline: person.data.name,
      isAccessibleForFree: true,
    }}
  />
  <Hero>
    <HeroContent class="sm:pr-80">
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbLink href={getLink('/fr/equipe', locale, {})}
            >{t('team.root.hero.breadcrumb')}</BreadcrumbLink
          >
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>
            {person.data.name}
          </BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <div class="relative flex flex-col sm:-mb-12">
        <div class="relative z-10 flex flex-1 flex-col gap-6">
          <div class="flex flex-col gap-0">
            <h1
              class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
            >
              {person.data.name}
            </h1>
            {
              !!person.data.job && (
                <span class="text-xl font-light opacity-80">
                  {person.data.job}
                </span>
              )
            }
          </div>
          {
            !!person.data.socials?.length && (
              <div class="-m-1.5 flex flex-wrap">
                {person.data.socials.map((social) => {
                  const socialConfig = SOCIALS.find(
                    (i) => i.type === social.type
                  );
                  const Icon = socialConfig?.icon;
                  return (
                    <a
                      href={social.href}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="hover:text-accent flex items-center justify-center p-1.5"
                      title={socialConfig?.label ?? social.type}
                    >
                      {!!Icon && <Icon className="size-7" />}
                      <span class="sr-only">
                        {socialConfig?.label ?? social.type}
                      </span>
                    </a>
                  );
                })}
              </div>
            )
          }
        </div>
        {
          !!person.data.picture && (
            <div class="-mt-8 -mb-24 flex-none overflow-hidden sm:absolute sm:-right-80 sm:bottom-0 sm:mt-0 sm:-mb-24 sm:w-80 lg:-right-64 lg:-mb-32">
              <Image
                class="mx-auto w-64 drop-shadow-2xl sm:w-full"
                src={person.data.picture}
                alt={person.data.name}
                width={1000}
                height={1200}
              />
            </div>
          )
        }
      </div>
    </HeroContent>
  </Hero>
  <div class="mx-auto flex w-full max-w-5xl flex-col gap-12 px-6 py-8">
    <Prose>
      <Content />
    </Prose>

    <h2>Conférences liés</h2>
    {
      conferences?.map((conference) => {
        return (
          <>
            <h3>{conference.data.title}</h3>

            {conference.data.instances && (
              <ul class="pl-3">
                {conference.data.instances.map((instance) => {
                  return (
                    (instance.speakers ?? []).some(
                      (speaker) => speaker.id === person.data._computed.slug
                    ) && <li>{instance.date}</li>
                  );
                })}
              </ul>
            )}
          </>
        );
      })
    }

    {
      !!posts.length && (
        <div class="flex flex-col gap-4">
          <h2 class="font-heading text-xl font-bold">
            Sur le blog par {person.data.name}
          </h2>
          <div class="xs:grid-cols-2 relative grid gap-4 md:grid-cols-3">
            {posts.map((post) => {
              return <PostCard post={post} />;
            })}
          </div>
        </div>
      )
    }
  </div>
</MainLayout>
