---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { render } from 'astro:content';

import dayjs from 'dayjs';
import { PiArrowSquareOut } from 'react-icons/pi';

import {
  getConferencesCollectionByPerson,
  type ConferenceWithComputed,
} from '@/lib/conferences';
import { getPeopleCollection, type PersonWithComputed } from '@/lib/people';
import {
  getPostsCollectionLinkedToPerson,
  type PostWithComputed,
} from '@/lib/posts';
import PostCard from '@/components/blog/post-card.astro';
import PostsGrid from '@/components/blog/posts-grid.astro';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates, getId } from '@/components/seo/utils';
import { SOCIALS } from '@/content/socials';
import { getTranslationFn, parseAstroLocale, type Locale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

export async function generateStaticPaths(params: { locale: Locale }) {
  const people = await getPeopleCollection({ locale: params.locale });
  return Promise.all(
    people.map(async (person) => {
      return {
        params: { id: person.data._computed.slug },
        props: { person },
      };
    })
  );
}
export async function getStaticPaths() {
  return generateStaticPaths({ locale: 'fr' });
}

type Props = {
  person: PersonWithComputed;
  posts?: Array<PostWithComputed>;
  conferences?: Array<ConferenceWithComputed>;
};

const locale = parseAstroLocale(Astro.currentLocale);
const { person } = Astro.props;
const posts = await getPostsCollectionLinkedToPerson({
  author: person,
  locale: locale,
});

const conferences = await getConferencesCollectionByPerson({
  person,
  locale: locale,
});

const conferencesWithContent = await Promise.all(
  conferences.map(async (conference) => {
    const { Content } = await render(conference);
    return { ...conference, Content };
  })
);

const t = getTranslationFn(locale);
const { Content } = await render(person);
const url = new URL(Astro.url.pathname, Astro.site);
const slug = person.data._computed.slug;

if (!slug) {
  return new Response(null, { status: 404 });
}

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('team.root.breadcrumb'),
    path: '/fr/equipe',
    params: {},
  }),
  entry({
    label: person.data.name,
    path: '/fr/equipe/:id',
    params: {
      id: slug,
    },
  }),
]);
---

<MainLayout>
  <SEO
    slot="seo"
    title={person.data.name}
    url={url}
    alternates={getAlternates('/fr/equipe/:id', {
      id: slug,
    })}
    breadcrumb={breadcrumb}
  />

  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'Person',
      name: person.data.name,
      jobTitle: person.data.job ?? undefined!,
      worksFor:
        person.data.status === 'current' ? getId('organization') : undefined!,
      sameAs: (person.data.socials ?? []).map((social) => social.href),
      isAccessibleForFree: true,
    }}
  />
  <Hero>
    <HeroContent class="sm:pr-80" breadcrumb={breadcrumb}>
      <div class="relative flex flex-col sm:-mb-12">
        <div class="relative z-10 flex flex-1 flex-col gap-6">
          <div class="flex flex-col gap-0">
            <h1
              class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
            >
              {person.data.name}
            </h1>
            {
              !!person.data.job && (
                <span class="text-xl font-light opacity-80">
                  {person.data.job}
                </span>
              )
            }
          </div>
          {
            !!person.data.socials?.length && (
              <div class="-m-1.5 flex flex-wrap">
                {person.data.socials.map((social) => {
                  const socialConfig = SOCIALS.find(
                    (i) => i.type === social.type
                  );
                  const Icon = socialConfig?.icon;
                  return (
                    <a
                      href={social.href}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="hover:text-accent flex items-center justify-center p-1.5"
                      title={socialConfig?.label ?? social.type}
                    >
                      {!!Icon && <Icon className="size-7" />}
                      <span class="sr-only">
                        {socialConfig?.label ?? social.type}
                      </span>
                    </a>
                  );
                })}
              </div>
            )
          }
        </div>
        {
          !!person.data.picture && (
            <div class="-mt-8 -mb-24 flex-none overflow-hidden sm:absolute sm:-right-80 sm:bottom-0 sm:mt-0 sm:-mb-24 sm:w-80 lg:-right-64 lg:-mb-32">
              <Image
                class="mx-auto w-64 drop-shadow-2xl sm:w-full"
                src={person.data.picture}
                alt={person.data.name}
                width={1000}
                height={1200}
              />
            </div>
          )
        }
      </div>
    </HeroContent>
  </Hero>
  <Container class="gap-8">
    <Prose>
      <Content />
    </Prose>

    {
      !!conferencesWithContent.length && (
        <div class="flex flex-col gap-4">
          <h2 class="font-heading text-2xl font-bold">
            Les conférences de {person.data.name}
          </h2>
          <div class="flex flex-col gap-4">
            {conferencesWithContent.map((conference) => {
              const ConferenceContent = conference.Content;
              return (
                <div class="flex flex-col gap-2">
                  <div class="flex flex-col gap-1">
                    <h3 class="font-heading text-lg font-medium">
                      {conference.data.title}
                    </h3>
                    {conference.data.instances && (
                      <div class="flex flex-wrap gap-1.5">
                        {conference.data.instances.map((instance) => {
                          const isSpeaker = (instance.speakers ?? []).some(
                            (speaker) =>
                              speaker.id === person.data._computed.slug
                          );
                          if (!isSpeaker) return null;
                          if (instance.replay)
                            return (
                              <a
                                href={instance.replay}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="bg-primary/10 flex items-center gap-1 rounded px-2 py-1 text-xs font-bold hover:underline"
                              >
                                {!!instance.name && `${instance.name} · `}
                                <time datetime={instance.date.toISOString()}>
                                  {dayjs(instance.date).format('YYYY')}
                                </time>
                                <PiArrowSquareOut className="size-4 opacity-60 -mt-px -mr-px" />
                              </a>
                            );
                          return (
                            <div class="bg-primary/10 rounded px-2 py-1 text-xs font-medium">
                              {!!instance.name && `${instance.name} · `}
                              <time datetime={instance.date.toISOString()}>
                                {dayjs(instance.date).format('YYYY')}
                              </time>
                            </div>
                          );
                        })}
                      </div>
                    )}
                  </div>
                  <Prose class="prose-sm text-muted-foreground">
                    <ConferenceContent />
                  </Prose>
                </div>
              );
            })}
          </div>
        </div>
      )
    }

    {
      !!posts.length && (
        <div class="flex flex-col gap-4">
          <h2 class="font-heading text-2xl font-bold">
            Sur le blog par {person.data.name}
          </h2>
          <PostsGrid>
            {posts.map((post) => {
              return <PostCard post={post} />;
            })}
          </PostsGrid>
        </div>
      )
    }
  </Container>
</MainLayout>
