---
import { Image } from 'astro:assets';

import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';

import { getBlogCollection } from '@/lib/blog';
import FormattedDate from '@/components/formatted-date.astro';
import Pagination from '@/components/pagination.astro';
import SEO from '@/components/seo/index.astro';
import Hero from '@/components/ui/hero.astro';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const newsPages = await getBlogCollection({ lang: 'en' });

  // Get all categories
  const categories = [
    ...new Set(newsPages.flatMap((entry) => entry.data.categories)),
  ];

  return [
    ...paginate(newsPages, { pageSize: 20, props: { categories } }),
    ...categories.flatMap((category) =>
      paginate(
        newsPages.filter((article) =>
          article.data.categories?.includes(category ?? '')
        ),
        {
          pageSize: 20,
          params: { filter: category },
          props: { category, categories },
        }
      )
    ),
  ];
}

const { page, category } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title="Blog"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
  />
  <Hero>
    <div
      class="flex flex-col justify-center gap-2 max-lg:items-center max-lg:text-center lg:gap-4"
    >
      <h1
        class="font-heading text-accent max-w-[20ch] text-3xl leading-tight font-bold text-balance md:text-4xl"
      >
        Le blog des ours
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        Bienvenue sur notre blog ! Vous y trouverez des articles techniques en
        lien avec le développement web et le design. Mais aussi des articles
        plus axés autour de l'entrepreneuriat et du business. En bref, c'est le
        meilleur moyen pour vous tenir informés des actualités du BearStudio.
        Bonne lecture !
      </p>
    </div>
  </Hero>
  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg px-6 pb-40 lg:pt-20">
      {category && <p>Filtre de catégorie: {category}</p>}
      <Pagination page={page}>
        <div class="grid gap-4 md:grid-cols-2">
          {
            page.data.map((post) => (
              <a
                href={lunalink(ROUTES.en.blog['posts'][':id'].__path, {
                  id: post.data._computed.slug,
                })}
              >
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </a>
            ))
          }
        </div>
      </Pagination>
    </div>
  </div>
</MainLayout>
