---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { loadRenderers } from 'astro:container';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import { experimental_AstroContainer } from 'astro/container';
import { getContainerRenderer as mdxContainerRenderer } from '@astrojs/mdx';

import { cn } from '@/lib/tailwindcss/utils';
import Prose from '@/components/Prose.astro';
import SEO from '@/components/SEO/index.astro';
import MainLayout from '@/layouts/MainLayout.astro';

export async function getStaticPaths() {
  const skills = await getCollection('skills');
  return skills.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'skills'>;

const post = Astro.props;
const { logo, name } = post.data;
const { Content } = await render(post);
const url = new URL(Astro.url.pathname, Astro.site);

const renderers = await loadRenderers([mdxContainerRenderer()]);
const container = await experimental_AstroContainer.create({ renderers });

// Derive Metadata from post Data
const articleBody = (await container.renderToString(Content))
  // strip html tags
  .replace(/<[^>]*>/g, '')
  .trim();
const wordCount = articleBody.split(' ').length;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title={post.data.name}
    description={post.data.metaDescription ?? ''}
    url={url}
  />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'DefinedTerm',
      articleBody,
      headline: post.data.name,
      wordCount,
      abstract: post.data.excerpt ?? '',
      isAccessibleForFree: true,
    }}
  />
  {
    !!logo && (
      <div class="relative mx-auto w-full max-w-screen-xl px-2 lg:px-6">
        <Image
          src={logo}
          alt={name}
          width={895}
          height={500}
          class="w-full rounded-lg object-cover"
        />
      </div>
    )
  }
  <div
    class={cn(
      'mx-auto w-full flex-1 max-w-screen-lg flex flex-col gap-8 pt-4 pb-40 relative z-10 px-8 md:px-12'
    )}
  >
    <div class="flex flex-col items-center gap-4">
      <h1
        class="text-center text-2xl font-medium tracking-wider text-balance md:text-4xl/tight"
      >
        {name}
      </h1>
    </div>
    <Prose>
      <Content />
    </Prose>
  </div>
</MainLayout>
