---
import { getImage } from 'astro:assets';

import { getLink } from '@/lib/link';
import { getPostsCollection } from '@/lib/posts';
import { PostsCarousel } from '@/components/blog/posts-carousel';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import SEO from '@/components/seo/index.astro';
import { buttonVariants } from '@/components/ui/button';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('notFound.root.breadcrumb'),
    path: '/fr',
    params: {},
  }),
]);

const latestPosts = await Promise.all(
  (
    await getPostsCollection({
      locale,
      limit: 5,
    })
  ).map(async (person) => {
    return {
      ...person,
      data: {
        ...person.data,
        image: person.data.heroImage
          ? await getImage({
              src: person.data.heroImage,
              widths: [800, 1200],
              sizes: '(min-width: 800px) 1200px, 800px',
              layout: 'constrained',
            })
          : undefined,
      },
    };
  })
);
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('notFound.root.metadata.title')}
    description={t('notFound.root.description')}
    alternates={null}
    breadcrumb={breadcrumb}
    noindex
    nofollow
  />
  <Hero>
    <HeroContent
      breadcrumb={breadcrumb}
      title={t('notFound.root.title')}
      description={t('notFound.root.description')}
    >
      <div class="mt-4">
        <a
          href={getLink('/fr', locale, {})}
          class={buttonVariants({ variant: 'default', size: 'lg' })}
        >
          {t('notFound.root.cta')}
        </a>
      </div>
    </HeroContent>
  </Hero>
  <Container class="py-12">
    {/* Latest Posts */}
    {
      !!latestPosts.length && (
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-1">
            <h2 class="font-heading text-2xl font-bold text-balance">
              <a href={getLink('/fr/blog', locale, {})}>
                {t('notFound.blog.title')}
              </a>
            </h2>
            <p class="max-w-[70ch] text-sm text-balance">
              {t('notFound.blog.description')}
            </p>
          </div>
          <PostsCarousel
            client:load
            posts={latestPosts}
            locale={locale}
            moreLink={{
              href: getLink('/fr/blog', locale, {}),
              label: t('home.blog.more'),
            }}
          />
        </div>
      )
    }
  </Container>
</MainLayout>
