---
import { Image } from 'astro:assets';

import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';
import { PiArrowLeftBold, PiArrowRight } from 'react-icons/pi';

import { getBlogCollection } from '@/lib/blog';
import FormattedDate from '@/components/formatted-date.astro';
import SEO from '@/components/seo/index.astro';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const newsPages = await getBlogCollection();
  return paginate(newsPages, { pageSize: 19 });
}

const { page } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title="Blog"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
  />
  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg pb-40">
      <div class="grid gap-4 px-6 md:grid-cols-2">
        {
          page.currentPage !== 1 && (
            <div class="flex items-center md:col-span-2">
              <h3 class="text-sm tracking-widest text-balance uppercase opacity-60">
                Page {page.currentPage}
              </h3>
              <div class="ml-auto flex gap-2">
                {!!page.url.next && (
                  <a href={page.url.next}>
                    <PiArrowLeftBold className="size-4" />
                    <span class="sr-only">Older articles</span>
                  </a>
                )}
                {!!page.url.prev && (
                  <a href={page.url.prev}>
                    <span class="sr-only">Newer articles</span>
                    <PiArrowRight className="size-4" />
                  </a>
                )}
              </div>
            </div>
          )
        }
        {
          page.data.map((post) => (
            <a
              href={lunalink(ROUTES.blog['posts'][':id'].__path, {
                id: post.id,
              })}
            >
              {post.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
              )}
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.date} />
              </p>
            </a>
          ))
        }
        <div class="flex items-center justify-between md:col-span-2">
          {
            !!page.url.prev && (
              <a href={page.url.prev}>
                Newer <span class="max-xs:sr-only">articles</span>
                <PiArrowLeftBold />
              </a>
            )
          }
          {
            !!page.url.next && (
              <a href={page.url.next}>
                <PiArrowRight /> Older{' '}
                <span class="max-xs:sr-only">articles</span>
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</MainLayout>
