---
import { getLink } from '@/lib/link';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import { ContactFormDrawer } from '@/components/contact/contact-form-drawer';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { buttonVariants } from '@/components/ui/button';
import { SOCIALS } from '@/content/socials';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    path: '/fr/contact',
    params: {},
    label: t('contact.root.breadcrumb'),
  }),
]);
---

<MainLayout>
  <SEO
    slot="seo"
    alternates={getAlternates('/fr/contact', {})}
    title={t('contact.root.metadata.title')}
    description={t('contact.root.metadata.description')}
    breadcrumb={breadcrumb}
  />
  <Hero>
    <HeroContent
      breadcrumb={breadcrumb}
      title={t('contact.root.title')}
      description={t('contact.root.description')}
    />
  </Hero>
  <Container>
    <div class="grid gap-6 md:grid-cols-3 md:gap-4">
      <div
        class="bg-card border-card-border text-card-foreground relative flex flex-col gap-2.5 overflow-hidden rounded-md border border-b-3 p-4 transition-all hover:-translate-y-1.5 hover:shadow-xl md:col-span-2"
      >
        <div class="flex flex-1 flex-col gap-1">
          <h2 class="font-heading text-lg font-bold">
            {t('contact.root.project.title')}
          </h2>
          <p class="text-sm">
            {t('contact.root.project.description')}
          </p>
        </div>
        <ContactFormDrawer
          client:load
          className="w-fit cursor-pointer"
          locale={locale}
        >
          <span class={buttonVariants({ size: 'lg' })}>
            {t('contact.root.project.cta')}
          </span>
          <span class="absolute inset-0"></span>
        </ContactFormDrawer>
      </div>
      <div
        class="bg-card border-card-border relative flex flex-1 flex-col gap-2.5 overflow-hidden rounded-md border border-b-3 p-4 transition-all hover:-translate-y-1.5 hover:shadow-xl"
      >
        <div class="flex flex-1 flex-col gap-1">
          <h2 class="font-heading text-lg font-bold">
            {t('contact.root.cv.title')}
          </h2>
          <p class="text-sm">{t('contact.root.cv.description')}</p>
        </div>
        <a
          href={getLink(
            '/fr/contact/processus-candidature-bearstudio',
            locale,
            {}
          )}
        >
          <span class={buttonVariants({ size: 'lg' })}>
            {t('contact.root.cv.cta')}
          </span>
          <span class="absolute inset-0"></span>
        </a>
      </div>

      <div class="flex flex-col gap-4 max-md:row-start-1 md:p-4">
        <address class="flex flex-col gap-2 not-italic">
          <h3 class="font-heading text-lg font-bold">
            {t('contact.root.address.title')}
          </h3>
          <p>
            {t('contact.root.address.line1')}<br />
            {t('contact.root.address.line2')}<br />
            {t('contact.root.address.line3')}
          </p>
          <a href="tel:+33749360436">+33 (0)7 49 36 04 36</a>
        </address>

        <div class="flex flex-col gap-2">
          <h3 class="font-heading text-lg font-bold">
            {t('contact.root.social.title')}
          </h3>

          <div class="-m-1.5 flex flex-row flex-wrap gap-1">
            {
              SOCIALS.map((item) => {
                const Icon = item.icon;
                return (
                  <a
                    href={item.href}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center justify-center p-1.5 opacity-80 hover:opacity-100"
                    title={item.label}
                  >
                    <Icon className="size-6" />
                    <span class="sr-only">{item.label}</span>
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>
      <div
        class="bg-card border-card-border aspect-square w-full overflow-hidden rounded-md border border-b-3 md:col-span-2 md:aspect-video"
      >
        <iframe
          class="h-full w-full"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7698.582952909151!2d1.2166680317870522!3d49.56548610086764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0de1bba92f79b%3A0xc28a52ac469f6ef5!2sBearStudio!5e0!3m2!1sen!2sfr!4v1767633040461!5m2!1sen!2sfr"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </Container>
</MainLayout>
