---
import { PiWarningCircleDuotone } from 'react-icons/pi';
import { match } from 'ts-pattern';

import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { Callout, CalloutTitle } from '@/components/ui/callout';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('contact.root.breadcrumb'),
    path: '/fr/contact',
    params: {},
  }),
  entry({
    label: t('contact.application-process.breadcrumb'),
    path: '/fr/contact/processus-candidature-bearstudio',
    params: {},
  }),
]);

const socialsToFollow = [
  {
    network: '𝕏 (Twitter)',
    links: [
      {
        content: { fr: 'Compte du BearStudio', en: "BearStudio's account" },
        href: 'https://twitter.com/_BearStudio',
      },
      {
        content: { fr: 'Compte de Rudy Baer', en: "Rudy Baer's account" },
        href: 'https://twitter.com/RudyBaer',
      },
      {
        content: { fr: 'Compte de Yoann Fleury', en: "Yoann Fleury's account" },
        href: 'https://twitter.com/yoannfleurydev',
      },
      {
        content: {
          fr: 'Compte de Fork it! Community',
          en: "Fork it! Community's account",
        },
        href: 'https://x.com/ForkitCommunity',
      },
    ],
  },
  {
    network: 'LinkedIn',
    links: [
      {
        content: {
          fr: 'Profil LinkedIn du Bearstudio',
          en: "BearStudio's LinkedIn profile",
        },
        href: 'https://www.linkedin.com/company/bearstudio/',
      },
      {
        content: {
          fr: 'Profil LinkedIn de Codeurs en Seine',
          en: "Codeurs en Seine's LinkedIn profile",
        },
        href: 'https://fr.linkedin.com/company/codeurs-en-seine',
      },
      {
        content: {
          fr: 'Profil LinkedIn de Fork it!',
          en: "Fork it!'s LinkedIn profile",
        },
        href: 'https://www.linkedin.com/company/fork-it-community',
      },
    ],
  },
  {
    network: 'YouTube',
    links: [
      {
        content: {
          fr: 'Chaîne Youtube du Bearstudio',
          en: "BearStudio's YouTube channel",
        },
        href: 'https://www.youtube.com/channel/UC-2hpnhKgU2C_OFucjEN0IA',
      },
      {
        content: {
          fr: 'Chaîne Youtube de Codeurs en Seine',
          en: "Codeurs en Seine's YouTube channel",
        },
        href: 'https://www.youtube.com/channel/UCWujmG5rANxJI0nHbMFs08w',
      },
      {
        content: {
          fr: 'Chaîne Youtube de Fork it!',
          en: "Fork it!'s YouTube channel",
        },
        href: 'https://www.youtube.com/channel/UCgV5zuiFWCMl7IvuZ5KbJOw',
      },
    ],
  },
  {
    network: 'Luma',
    links: [
      {
        content: {
          fr: 'Page Luma de Fork it! Community',
          en: "Fork it! Community's Luma page",
        },
        href: 'https://luma.com/forkit.community',
      },
    ],
  },
  {
    network: 'Instagram',
    links: [
      {
        content: {
          fr: 'Instagram du Bearstudio',
          en: "BearStudio's Instagram",
        },
        href: 'https://www.instagram.com/_bearstudio/',
      },
      {
        content: { fr: 'Instagram de Fork it!', en: "Fork it!'s Instagram" },
        href: 'https://www.instagram.com/forkit.community/?hl=fr',
      },
    ],
  },
  {
    network: 'GitHub',
    links: [
      {
        content: { fr: 'Star sur Formiz', en: 'Star Formiz' },
        href: 'https://github.com/ivan-dalmet/formiz',
      },
      {
        content: { fr: 'Star sur Jhipster', en: 'Star Jhipster' },
        href: 'https://github.com/jhipster/generator-jhipster',
      },
      {
        content: { fr: 'Star sur StartUI Web', en: 'Star StartUI Web' },
        href: 'http://web.start-ui.com/',
      },
      {
        content: { fr: 'Star sur StartUI Native', en: 'Star StartUI Native' },
        href: 'http://native.start-ui.com/',
      },
      {
        content: {
          fr: 'Star sur React Native FicusUI',
          en: 'Star React Native FicusUI',
        },
        href: 'https://github.com/BearStudio/react-native-ficus-ui',
      },
    ],
  },
  {
    network: 'Twitch',
    links: [
      {
        content: {
          fr: 'Chaîne Twitch de Codeur en Seine',
          en: "Codeurs en Seine's Twitch channel",
        },
        href: 'https://www.twitch.tv/codeursenseine/',
      },
      {
        content: {
          fr: 'Chaîne Twitch du Bearstudio',
          en: "BearStudio's Twitch channel",
        },
        href: 'https://www.twitch.tv/bearstudiolive',
      },
    ],
  },
  {
    network: 'Figma',
    links: [
      {
        content: { fr: 'StartUI Figma', en: 'StartUI Figma' },
        href: 'http://figma.start-ui.com/',
      },
    ],
  },
] as const;
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('contact.application-process.metadata.title')}
    description={t('contact.application-process.metadata.description')}
    alternates={getAlternates(
      '/fr/contact/processus-candidature-bearstudio',
      {}
    )}
    breadcrumb={breadcrumb}
  />
  <Hero>
    <HeroContent
      title={t('contact.application-process.title')}
      description={t('contact.application-process.description')}
      breadcrumb={breadcrumb}
    />
  </Hero>
  <Container>
    <Prose>
      {
        match(locale)
          .with('fr', () => (
            <>
              <Callout variant="warning">
                <PiWarningCircleDuotone />
                <CalloutTitle>
                  BearStudio ne prend plus de stagiaires ni d’alternants pour
                  l’année 2025-2026.
                </CalloutTitle>
              </Callout>
              <h2>
                Comment se passe le processus de candidature au BearStudio ?
              </h2>
              <p>
                Au BearStudio l’entraide et l’amélioration continue sont un
                aspect essentiel de notre philosophie, c’est pourquoi, nous te
                suggérons fortement de suivre les conseils présents dans cette
                page. Ainsi nous espérons recevoir des gens qui souhaitent
                vraiment rejoindre le BearStudio ainsi que d’éviter de recevoir
                systématiquement des demandes pleines d’erreurs ce qui nous fait
                perdre du temps dans notre processus de candidature…
              </p>
              <p>
                Point important, nos locaux sont situés à
                Saint-André-sur-Cailly, il est donc important que tu n’aies
                aucune contrainte liée à la mobilité #permisdeconduire.
              </p>
              <h2>Sois original et créatif</h2>
              <p>
                Ton parcours et tes expériences nous intéressent, épargne-nous
                cependant la traditionnelle lettre de motivation générique et
                remplie de phrases toutes faites. Personne chez nous n’aime les
                lettres de motivation préfabriquées !
              </p>
              <p>
                N’hésite pas à être original et créatif. Nous accordons bien
                plus de valeur à un portfolio contenant les projets auxquels tu
                as participé, un compte Twitter, LinkedIn ou GitHub bien
                maîtrisé. À nos yeux, ces éléments reflètent bien plus ta
                personnalité et tes compétences, de même si tu es un noob sans
                contenu à mettre en avant, débrouille-toi pour faire transpirer
                ta motivation au travers de ta candidature.
              </p>
              <p class="italic">
                Lors de la rédaction de ta candidature, nous aimerions que tu
                nous racontes comment tu réagirais face à un ours !
              </p>
              <p>
                Ces articles d’
                <a
                  href="https://codedesign.fr/candidature-manque-experience-alternance/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Arnaud Lemercier
                </a>{' '}
                et de{' '}
                <a
                  href="https://medium.com/@waxzce/je-nembauche-jamais-de-poisson-pan%C3%A9-alors-arr%C3%AAtez-de-vous-pr%C3%A9senter-comme-tel-1eb318ee8a20"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Quentin Adam
                </a>{' '}
                t’aideront à mieux comprendre ce dont nous parlons.
              </p>
              <h2>
                Mets toutes les chances de ton côté en nous suivant sur les
                réseaux.
              </h2>
              <p>
                Comme tu t’en doutes, nous recevons de nombreuses candidatures,
                afin de maximiser tes chances et d’attirer notre attention et de
                potentiellement rejoindre le BearStudio, suis-nous sur nos
                différents réseaux sociaux et n’hésite pas à jeter un oeil à
                leur contenu. Cela te permettra de nous connaître davantage et
                d’avoir un certain nombre de discussion lors de l’entretien.
              </p>
              <p class="italic">
                Instant putaclic ! Voici une liste de comptes à suivre :
              </p>
              <div class="prose-sm xs:grid-cols-2 grid gap-x-4 md:grid-cols-3">
                {socialsToFollow.map((social) => (
                  <section>
                    <h3>{social.network}</h3>
                    <ul>
                      {social.links.map((link) => (
                        <li>
                          <a href={link.href}>{link.content[locale]}</a>
                        </li>
                      ))}
                    </ul>
                  </section>
                ))}
              </div>
              <h2>
                Prends connaissance de notre workflow sur le processus de
                candidature au BearStudio
              </h2>
              <p>
                Comme dit précédemment, nous sommes énormément sollicités par de
                nombreuses candidatures donc avant que tu ne nous vitupères,
                nous allons t’expliquer les différentes étapes de notre
                processus de candidature au BearStudio.
              </p>
              <h3>1. Réception des candidatures</h3>
              <p>
                Lorsque nous recevons des candidatures de personnes qui veulent
                rejoindre le BearStudio, chaque mail de candidature que nous
                recevons s’ajoute automatiquement dans la colonne «&nbsp;À
                traiter&nbsp;» de notre board{' '}
                <a
                  href="https://trello.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Trello
                </a>
                . Toutes les demandes sont donc visibles par l’ensemble de
                l’équipe et sont déplacées dans la colonne «&nbsp;À
                étudier&nbsp;». Puis, un premier tri écartant toutes les
                demandes qui, de façon certaine, seront négatives (manque de
                place ou poste qui ne correspond pas) est effectué par notre
                assistante administrative.
              </p>
              <p>
                Par la suite, les autres demandes sont transmises aux
                développeurs sur un channel{' '}
                <a
                  href="https://slack.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Slack
                </a>{' '}
                dédié où elles sont étudiées.
              </p>
              <h3>2. Étude d’une candidature</h3>
              <p>
                Quand nous étudions un cas, nous glissons la carte Trello dans
                la catégorie « en cours ». Les demandes sont ensuite réparties
                selon nos décisions dans les colonnes « Oui » et « Non ».
              </p>
              <p>
                Notre assistante administrative prend ensuite connaissance des
                délibérations, contacte les éventuels candidats retenus pour un
                entretien et répond par la négative à ceux qui ne l’ont
                malheureusement pas été.
              </p>
              <h3>3. Réponse aux candidatures</h3>
              <p>
                Comme tu peux le voir c’est un procédé qui peut, en fonction du
                nombre de demandes, prendre un certain temps. D’autant que les
                candidatures affluent souvent par vagues à certaines périodes.
                Malgré tout, nous essayons de prendre le temps et de ne pas
                bâcler cette étape.
              </p>
              <p>
                Donc pas de raison de paniquer si nous ne répondons pas
                directement, nous le ferons prochainement. En revanche, pour
                ceux qui auraient postulé via un autre canal que l’adresse mail
                dédiée, il est probable que notre degré de réactivité soit plus
                long. Mieux vaut donc privilégier le processus évoqué ci-dessus.
              </p>
              <p>
                Et voilà ! Maintenant que nous t’avons dévoilé les détails de la
                procédure made in BearStudio, tu as toutes les clés en main pour
                attirer notre attention et peut-être intégrer notre « dreamteam
                » 😉.
              </p>
              <h2>Pour candidater</h2>
              <p>
                Pour un <strong>poste</strong> (CDI, CDD, etc.) : job@[devine la
                fin.fr]
              </p>
              <p>
                Pour un <strong>stage</strong>, une <strong>alternance</strong>{' '}
                : stage@[devine la fin.fr]
              </p>
              <h2>Articles utiles</h2>
              <p>
                <a href="https://waxzce.medium.com/je-nembauche-jamais-de-poisson-pan%C3%A9-alors-arr%C3%AAtez-de-vous-pr%C3%A9senter-comme-tel-1eb318ee8a20">
                  Arrêtez de vous présenter comme des poissons panés.
                </a>{' '}
                par Quentin Adam
              </p>
              <p>
                <a href="https://codedesign.fr/candidature-manque-experience-alternance/">
                  Avoir de l’expérience quand personne ne me donne ma chance ?
                </a>{' '}
                par Arnaud Lemercier
              </p>
            </>
          ))
          .with('en', () => (
            <>
              <Callout variant="warning">
                <PiWarningCircleDuotone />
                <CalloutTitle>
                  BearStudio does not take internship or apprenticeship for
                  2025-2026.
                </CalloutTitle>
              </Callout>
              <h2>How does the application process work at BearStudio?</h2>
              <p>
                At BearStudio, cooperation and continuous improvement are an
                essential aspect of our philosophy. That is why we highly
                recommend you follow the mere pieces of advice of this page.
                We’re hoping to meet people who are eager to join our team and
                we want to avoid consistently receiving applications full of
                mistakes, which makes us waste time.
              </p>
              <p>
                Important point, our premises are located in
                Saint-André-sur-Cailly, so it is important that you do not have
                any constraints related to mobility #drivinglicence.
              </p>
              <h2>Be original and creative</h2>
              <p>
                We are curious about your path and your experiences. However,
                save us from the generic cover letter full of ready-made
                sentences. Nobody is interested in reading plagiarized content!
              </p>
              <p>
                Don’t hesitate to be original and creative. We see a lot of
                value in a portfolio of the projects you took part in, or a well
                put together Twitter, LinkedIn or GitHub account. In our eyes,
                these elements can be really telling about your personality and
                your skills. Similarly, if you are a noob with no content to put
                forward, get by on your own so as to show your motivation
                through your application.
              </p>
              <p class="italic">
                Whilst you write your application, we would like you to tell us
                how you would react to a bear encounter!
              </p>
              <p>
                These articles by
                <a
                  href="https://codedesign.fr/candidature-manque-experience-alternance/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Arnaud Lemercier
                </a>{' '}
                and{' '}
                <a
                  href="https://medium.com/@waxzce/je-nembauche-jamais-de-poisson-pan%C3%A9-alors-arr%C3%AAtez-de-vous-pr%C3%A9senter-comme-tel-1eb318ee8a20"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Quentin Adam
                </a>{' '}
                will help you to better understand what we are talking about.
              </p>
              <h2>
                Put all the odds on your side by following us on social media
              </h2>
              <p>
                As you may imagine, we receive a lot of applications. So, in
                order to maximize your chances of joining BearStudio and catch
                our attention, follow us on social media and check out our
                content. You’ll get to know more about us and have some topics
                to discuss upon during the interview.
              </p>
              <p class="italic">
                For clickbait’s sake, here is a list of accounts to follow:
              </p>
              <div class="prose-sm xs:grid-cols-2 grid gap-x-4 md:grid-cols-3">
                {socialsToFollow.map((social) => (
                  <section>
                    <h3>{social.network}</h3>
                    <ul>
                      {social.links.map((link) => (
                        <li>
                          <a href={link.href}>{link.content[locale]}</a>
                        </li>
                      ))}
                    </ul>
                  </section>
                ))}
              </div>
              <h2>Get acquainted with our application process workflow</h2>
              <p>
                As said previously, we are enormously solicited by numerous
                applications. So, before you grumble against us, we are going to
                explain to you the different steps of the application process at
                BearStudio.
              </p>
              <h3>1. Reception of applications</h3>
              <p>
                When we receive applications of people willing to join
                BearStudio, each application email is automatically added to the
                column “to process” on our{' '}
                <a
                  href="https://trello.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Trello
                </a>
                board. All the demands are thereby visible by the entire team
                and are displaced to the column “to study” in due time. Then, a
                first sorting is done by our administrative assistant, which
                eliminates the requests that will be refused in any case (due to
                lack of place or position not matching).
              </p>
              <p>
                Afterwards, the other requests are sent to the developers to be
                studied, on a dedicated{' '}
                <a
                  href="https://slack.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  Slack
                </a>{' '}
                channel.
              </p>
              <h3>2. Study of an application</h3>
              <p>
                When we study a case, we slag the Trello card to the “in
                progress” category. Next, the applications are split according
                to our decisions, into the columns “Yes” and “No”.
              </p>
              <p>
                Finally, our administrative assistant takes note of the
                proceedings, contacts the potential successful candidates for an
                interview, and answers negatively to those who have
                unfortunately not been selected.
              </p>
              <h3>3. Answers to applications</h3>
              <p>
                As you can see, it is a process, which can, depending on the
                number of applications, take some time. All the more so as the
                applications often flock in waves at certain periods.
                Nevertheless, we try to take the time not to botch this step.
              </p>
              <p>
                There is no reason to panic if we don’t directly respond, we
                will do it soon. On the other hand, for those who might have
                applied through another channel than the dedicated email
                address, our reactivity degree may be a bit longer. Thus, it is
                better to favour the process explained above.
              </p>
              <p>
                Here you go! Now that we have revealed you the details of the
                process made in BearStudio, you got all the keys in hand to
                catch our attention and maybe to integrate our dream team! 😉.
              </p>
              <h2>To apply</h2>
              <p>
                For a <strong>job</strong>: job@[guess the end.fr]
              </p>
              <p>
                For an <strong>internship</strong>, an{' '}
                <strong>apprenticeship</strong> : stage@[guess the end.fr]
              </p>
              <h2>Helpful articles</h2>
              <p>
                <a href="https://waxzce.medium.com/i-never-hire-breaded-fish-sticks-so-stop-introducing-yourself-as-such-ab6808728a42">
                  I never hire breaded fish sticks. So stop introducing yourself
                  as such.
                </a>{' '}
                by Quentin Adam
              </p>
            </>
          ))
          .exhaustive()
      }
    </Prose>
  </Container>
</MainLayout>
