---
import { Schema } from 'astro-seo-schema';
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import { lunalink } from '@bearstudio/lunalink';

import { getConferencesLinkedToEvent } from '@/lib/conferences';
import Prose from '@/components/Prose.astro';
import SEO from '@/components/SEO/index.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths() {
  const events = await getCollection('events');
  return events.map((conference) => ({
    params: { id: conference.id },
    props: conference,
  }));
}
type Props = CollectionEntry<'events'>;

const event = Astro.props;
const url = new URL(Astro.url.pathname, Astro.site);
const { Content } = await render(event);

const conferences = await getConferencesLinkedToEvent({ event });
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO slot="seo" title={event.data.title} url={url} />
  <Schema
    slot="ld+json"
    item={{
      '@context': 'https://schema.org',
      '@type': 'Event',
      headline: event.data.title,
      isAccessibleForFree: true,
    }}
  />
  <div class="mx-auto flex w-full max-w-screen-sm flex-col gap-4 px-4">
    <div class="flex flex-col items-center gap-2">
      <h1>
        {event.data.title}
      </h1>
      <a href={event.data.link}> Lien </a>

      {
        event.data.image && (
          <Image src={event.data.image} alt={event.data.title} />
        )
      }
    </div>
    <Prose>
      <Content />
    </Prose>

    <h2>Conférences liés</h2>
    <ul>
      {
        conferences.map((conference) => {
          return (
            <li>
              <a
                href={lunalink(ROUTES.conferences[':id'].__path, {
                  id: conference.id,
                })}
              >
                {conference.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</MainLayout>
